<div class="row">
	<H1>Character Info</H1>
</div>
<div class="row">
	<div class="col-md-4">Character Name:<input type="text" data-ng-model="vm.character.characterName" /></div>
	<div class="col-md-4">Player Name:<input type="text" data-ng-model="vm.character.playerName" /></div>
	<div class="col-md-4">Diety:<input type="text" data-ng-model="vm.character.diety" /></div>
</div>
<div class="row">
	<div class="col-sm-4">Age:<input type="text" data-ng-model="vm.character.age" /></div>
	<div class="col-sm-4">Height:<input type="text" data-ng-model="vm.character.height" /></div>
	<div class="col-sm-4">Weight:<input type="text" data-ng-model="vm.character.weight" /></div>
</div>

<div class="row">
	<h1>Attributes</h1>
</div>
<div class="row">
	<div class="col-sm-4">Strength:<input type="text" data-ng-model="vm.character.abilityScores.strength" /></div>
	<div class="col-sm-4">Dexterity:<input type="text" data-ng-model="vm.character.abilityScores.dexterity" /></div>
	<div class="col-sm-4">Constitution:<input type="text" data-ng-model="vm.character.abilityScores.constitution" /></div>
</div>
<div class="row">
	<div class="col-sm-4">Intelligence:<input type="text" data-ng-model="vm.character.abilityScores.intelligence" /></div>
	<div class="col-sm-4">Wisdom:<input type="text" data-ng-model="vm.character.abilityScores.wisdom" /></div>
	<div class="col-sm-4">Charisma:<input type="text" data-ng-model="vm.character.abilityScores.charisma" /></div>
</div>

