<html lang="en">
<!--<![endif]-->
<head>
	<link rel="icon" href="favicon.ico" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<title>D20 Character Creation App</title>
	<meta charset='utf-8'/>
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700' />
	@Styles.Render("~/Content/styles")
	<!--[if lt IE 9]>
	script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
	<![endif]-->
</head>
	<body data-ng-app='D20') data-ngCloak>
		<div class="page-wrap">
			 @Html.Partial("header")
			 @Html.Partial("nav")
			 @RenderBody()
			<div data-toaster-container data-toaster-options="{'time-out': 3000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></div>
		</div>
		@Html.Partial("footer")
		@Scripts.Render("~/bundles/scripts")
		@RenderSection("scripts", required: false)
	</body>
</html>
