@model dynamic

<header class="header">
	<div class="header-main container">
		<div class="logo col-sm-5">
			<img src="~/Content/images/OBSlogo_tiny.png" alt="logo" width="124" height="85" class="logo pull-left">
			<h1 class="desc pull-left">Consulting Tools</h1>
		</div>
		<div class="info col-sm-7">
			<ul class="menu-top navbar-right">
				<li>
					<a href="/Account/LogOff">Log Off</a>
				</li>
			</ul>
		</div>
	</div>
</header>